@using test_app.Models.Account
@model AccountLoginModel

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <label asp-for="RememberMe" class="form-check-label"></label>
                            <input asp-for="RememberMe" class="form-check-input" />
                            <span asp-validation-for="RememberMe" class="text-danger"></span>
                        </div>
                        <div align="right" class="text-align-right">
                            <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-warning">Şifremi Ununttum</a>
                            <button type="submit" class="btn btn-primary">Giriş</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>