@using test_app.Models.Product
@model ProductAddModel

@{
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Ürün Ekle</h5>
                <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-light">
                    <i class="bi-list"></i>
                </a>
            </div>
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post" asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label asp-for="Name" class="col-sm-2 col-form-label">Ürün Adı</label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Mg" class="col-sm-2 col-form-label">Miligram</label>
                        <div class="col-sm-2">
                            <input asp-for="Mg" class="form-control">
                        </div>
                        <label asp-for="Dose" class="col-sm-2 col-form-label text-end">Dozaj</label>
                        <div class="col-sm-2">
                            <input asp-for="Dose" class="form-control">
                        </div>
                        <label asp-for="TotalMg" class="col-sm-2 col-form-label text-end">Toplam Mg</label>
                        <div class="col-sm-2">
                            <input asp-for="TotalMg" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Description" class="col-sm-2 col-form-label">Ürün Açıklama</label>
                        <div class="col-sm-10">
                            <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="SideEffects" class="col-sm-2 col-form-label">Yan Etkiler</label>
                        <div class="col-sm-10">
                            <textarea asp-for="SideEffects" rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Image" class="col-sm-2 col-form-label">Resim</label>
                        <div class="col-sm-10">
                            <input asp-for="Image" class="form-control">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CategoryId" class="col-sm-2 col-form-label">Kategori</label>
                        <div class="col-sm-7">
                            <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories">
                                <option value="" selected>Seçiniz</option>

                                @* @foreach (var category in (List<Category>)ViewData["Categories"]! /*ViewBag.Categories*/)
                                {
                                    <option value="@category.Id" selected>@category.Name</option>
                                } *@
                            </select>
                        </div>
                        <label asp-for="Status" class="col-sm-2 col-form-label text-end">Aktif</label>
                        <div class="col-sm-1 align-content-center">
                            <input asp-for="Status" class="form-check-input">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-4">
                            <button type="submit" class="btn btn-light float-end col-3">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <img src="~/img/spongebob brain office.jpg" class="img-thumbnail" alt="">
                <input type="file" class="form-control mt-3">
            </div>
        </div>
    </div> *@
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}