@using test_app.Context
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<section class="mt-3">
    <div class="container">
        <div class="card t-card">
            <div class="row">
                <div class="col-12 responsive-button mt-2">
                    <a asp-controller="Product" asp-action="Create" class="btn btn-light responsive-button me-3 float-end">
                        <i class="bi bi-plus"></i>
                    </a>
                </div>
            </div>
            <div class="row gx-2 ">
                <div class="col-lg-12">
                    <!-- menu -->
                    @foreach (var product in Model)
                    {
                            @await Html.PartialAsync("Partials/Site/_ProductCard", product)
                    }
                </div>
            </div>
        </div>
    </div>
</section>
